<article{{ attributes.addClass(classes) }}>
    <div class="node-teaser node-teaser-article">

        {% if node.hasField('field_image') %}
            <div class="node-teaser-image">
                {{ content.field_image }}
            </div>
        {% endif %}

        <div class="node-teaser-right-content">

            {% if node.hasField('field_date') %}
                <div class="node-teaser-date">
                    {{ content.field_date }}
                </div>
            {% endif %}

            <h4 class="node-teaser-title"><a href="{{ url }}">{{ label }}</h4></a>

            {% if node.hasField('field_subdivision') %}
                <div class="node-teaser-subdivision">
                    {{ content.field_subdivision }}
                </div>
            {% endif %}

        </div>

    </div>
</article>
