<article{{ attributes.addClass(classes) }}>
    <div class="node-list node-list-article">

        {% if node.hasField('field_date') %}
            <div class="node-list-date">
                {{ content.field_date }}
            </div>
        {% endif %}

        <h4 class="node-list-title"><a href="{{ url }}">{{ label }}</h4></a>

        {% if node.hasField('field_subdivision') %}
            <div class="node-list-subdivision">
                {{ content.field_subdivision }}
            </div>
        {% endif %}

    </div>
</article>
